[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "dependencies/zplug"]
	path = dependencies/zplug
	url = https://github.com/zplug/zplug
[submodule "dependencies/fzf"]
	path = dependencies/fzf
	url = https://github.com/junegunn/fzf
[submodule "dependencies/pyenv"]
	path = dependencies/pyenv
	url = https://github.com/pyenv/pyenv
[submodule "dependencies/vim-plug"]
	path = dependencies/vim-plug
	url = https://github.com/junegunn/vim-plug.git
